---
import "@css/main.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <meta name="theme-color" content="#aa3535" />
    <meta name="generator" content={Astro.generator} />
    <title>Wow</title>
    <meta
      name="description"
      content="One of the wowest pages on this world wide web"
    />

    <meta property="og:url" content="https://wowen-wilson.netlify.app/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Wow" />
    <meta
      property="og:description"
      content="One of the wowest pages on this world wide web"
    />
    <meta
      property="og:image"
      content="https://wowen-wilson.netlify.app/og-wilson.png"
    />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="wowen-wilson.netlify.app" />
    <meta property="twitter:url" content="https://wowen-wilson.netlify.app/" />
    <meta name="twitter:title" content="Wow" />
    <meta
      name="twitter:description"
      content="One of the wowest pages on this world wide web"
    />
    <meta
      name="twitter:image"
      content="https://wowen-wilson.netlify.app/og-wilson.png"
    />

    <link
      type="image/png"
      sizes="16x16"
      rel="icon"
      href="/favicon/icons8-face-with-open-mouth-16.png"
    />
    <link
      type="image/png"
      sizes="32x32"
      rel="icon"
      href="/favicon/icons8-face-with-open-mouth-32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="72x72"
      href="/favicon/icons8-face-with-open-mouth-72.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/favicon/icons8-face-with-open-mouth-96.png"
    />
    <link
      rel="apple-touch-icon"
      type="image/png"
      sizes="57x57"
      href="/favicon/icons8-face-with-open-mouth-57.png"
    />
    <link
      rel="apple-touch-icon"
      type="image/png"
      sizes="60x60"
      href="/favicon/icons8-face-with-open-mouth-60.png"
    />
    <link
      rel="apple-touch-icon"
      type="image/png"
      sizes="72x72"
      href="/favicon/icons8-face-with-open-mouth-72.png"
    />
    <link
      rel="apple-touch-icon"
      type="image/png"
      sizes="76x76"
      href="/favicon/icons8-face-with-open-mouth-76.png"
    />
    <meta
      name="msapplication-square70x70logo"
      content="/favicon/icons8-face-with-open-mouth-70.png"
    />
    <meta name="msapplication-TileColor" content="#C0FFEE" />
    <meta name="application-name" content="Wow" />
  </head>
  <body>
    <slot />
  </body>
</html>
